In [2]:
import pandas as pd

In [3]:
demo = pd.read_csv('demographics.csv')
bmx = pd.read_csv('BodyMeasures.csv')
ocp = pd.read_csv('Occupation.csv')

In [4]:
demo.dtypes

SEQN          int64
SDDSRVYR    float64
RIDSTATR     object
RIDEXMON    float64
RIAGENDR     object
RIDAGEYR    float64
RIDAGEMN    float64
RIDAGEEX    float64
RIDRETH1     object
RIDRETH2    float64
DMQMILIT     object
DMDBORN      object
DMDCITZN     object
DMDYRSUS     object
DMDEDUC3     object
DMDEDUC2     object
DMDEDUC     float64
DMDSCHOL     object
DMDMARTL     object
DMDHHSIZ    float64
INDHHINC    float64
INDFMINC    float64
INDFMPIR    float64
RIDEXPRG    float64
RIDPREG     float64
DMDHRGND    float64
DMDHRAGE    float64
DMDHRBRN    float64
DMDHREDU    float64
DMDHRMAR    float64
             ...
WTIREP23    float64
WTIREP24    float64
WTIREP25    float64
WTIREP26    float64
WTIREP27    float64
WTIREP28    float64
WTIREP29    float64
WTIREP30    float64
WTIREP31    float64
WTIREP32    float64
WTIREP33    float64
WTIREP34    float64
WTIREP35    float64
WTIREP36    float64
WTIREP37    float64
WTIREP38    float64
WTIREP39    float64
WTIREP40    float64
WTIREP41    float64
WTIREP42    float64
WTIREP43    float64
WTIREP44    float64
WTIREP45    float64
WTIREP46    float64
WTIREP47    float64
WTIREP48    float64
WTIREP49    float64
WTIREP50    float64
WTIREP51    float64
WTIREP52    float64
Length: 144, dtype: object

In [5]:
bmx.dtypes

SEQN          int64
BMAEXLEN    float64
BMAEXSTS    float64
BMAEXCMT    float64
BMXWT       float64
BMIWT       float64
BMXRECUM    float64
BMIRECUM    float64
BMXHEAD     float64
BMIHEAD     float64
BMXHT       float64
BMIHT       float64
BMXBMI      float64
BMXLEG      float64
BMILEG      float64
BMXCALF     float64
BMICALF     float64
BMXARML     float64
BMIARML     float64
BMXARMC     float64
BMIARMC     float64
BMXWAIST    float64
BMIWAIST    float64
BMXTHICR    float64
BMITHICR    float64
BMXTRI      float64
BMITRI      float64
BMXSUB      float64
BMISUB      float64
BMAAMP      float64
BMAUREXT    float64
BMAUPREL    float64
BMAULEXT    float64
BMAUPLEL    float64
BMALOREX    float64
BMALORKN    float64
BMALLEXT    float64
BMALLKNE    float64
RIDAGEYR      int64
dtype: object

In [18]:
demo.loc[:,['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIDEXMON', 'RIAGENDR']].head()

   SEQN  SDDSRVYR RIDSTATR  RIDEXMON RIAGENDR
0     1       1.0   Exam         2.0   Female
1     2       1.0   Both         2.0     Male
2     3       1.0     Exam       1.0   Female
3     4       1.0     Both       2.0     Male
4     5       1.0    Both        2.0     Male

In [6]:
dataset = pd.merge(demo,bmx, on='SEQN', how ='inner')

In [7]:
dataset.to_csv('MyDataset.csv', index = False)